project:
  type: website
  output-dir: _site
  pre-render:
    - ../shared/python/render_timer.py start
  post-render:
    - ../shared/bash/sync-tr.sh
    - ../shared/python/render_timer.py end
  preview:
    port: 7777
  render:
    - "**/*.qmd"     # tr altındaki tüm qmd dosyaları
    # - "!trial/**"    # ama trial/ altındakileri hariç tut

lang: en
metadata:
  site-lang: en
  phones:
    "0533XXX9779": "The phone number used by Nevzat Bahtiyar"
    "0536XXX7120": "The phone number used by Yüksel Güran"
    "0539XXX7358": "The phone number used by Enes Güran"
    "0530XXX0653": "The phone number used by Salim Güran"
    "0531XXX1521": "The phone number used by Selim Atasoy"
  plates:
    "23 XX 630": "The red vehicle used by Nevzat Bahtiyar"
    "47 XX 388": "The vehicle used by Salim Güran"
    "56 XX 763": "The vehicle used by Osman Güran"
  abbr:
    AMFT: "Attorneys’ Minimum Fee Tariff - Avukatlık Asgari Ücret Tarifesi"
    FIR: "Forensic Interview Room - (Adli Görüşme Odası)"
    BTK: "Information and Communication Technologies Authority - (Bilgi Teknolojileri ve İletişim Kurumu)"
    CPC: "Criminal Procedure Code - (Ceza Muhakemesi Kanunu)"
    CFM: "Council of Forensic Medicine - (Adli Tıp Kurumu)"
    DEPSAŞ: "Dicle Elektrik Perakende Satış A.Ş. - (Dicle Electricity Retail Sales Inc.)"
    HCC: "High Criminal Court - (Ağır Ceza Mahkemesi)"
    HTS: "Historical Traffic Search"
    JASAT: "Gendarmerie Crime Investigation Team - (Jandarma Suç Araştırma Timi)"
    mtDNA: "Mitochondrial DNA"
    TPC: "Turkish Penal Code - (Türk Ceza Kanunu)"
    TÜBİTAK: "Türkiye Bilimsel ve Teknolojik Araştırma Kurumu - (The Scientific and Technological Research Council of Turkey)"
    SEGBİS: "Ses ve Görüntü Bilişim Sistemi - (Audio and Visual Information System)"
    UKB: "Ulusal Kriminal Büro - (National Criminal Bureau)"

highlight-style: a11y

website:
  google-analytics: "G-58C9MLB2WP" # https://analytics.google.com
  title: "Narin"
  site-url: https://narineneoldu.github.io/en/
  repo-url: https://github.com/narineneoldu/narineneoldu.github.io
  image: resources/images/narin_en.png
  favicon: resources/icons/favicon.png
  open-graph: true
  twitter-card: true
  repo-actions: [edit, issue]
  page-navigation: true
  back-to-top-navigation: true
  page-footer:
    left:
      - text: "{{< meta last-updated-footer >}}"
      - text: "{{< meta render-time-footer >}}"
    center:
      - text: "<a class='nav-link footer-icon' href='/about' aria-label='About'><span class='svg-mask'></span>About</a>"
      - text:  "<a class='nav-link bi bi-patch-question' href='/faq' aria-label='SSS'><span class='svg-mask'></span> FAQ</a>"
    right:
      - icon: twitter
        href: https://X.com/narineneoldu
        aria-label: Twitter
      - icon: github
        href: https://github.com/narineneoldu/narineneoldu
        aria-label: GitHub
      - icon: rss
        href: https://quarto.org/blog/index.xml
        aria-label: Blog RSS
  navbar:
    background: light
    logo: resources/icons/narin.png
    logo-href: /
    title: false
    collapse-below: lg
    left:
      - text: "Trial"
        menu:
          - text: "Summary"
            icon: "file-medical"
            href: trial/index.qmd
          - text: "Testimonies"
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
          - text: "Defenses"
            icon: "files"
            href: trial/defenses/index.qmd
          - text: "Judgment"
            icon: "list-check"
            href: trial/judgment.qmd
      - text: "Blog"
        href: blog/index.qmd
      - text: "Help"
        menu:
          - text: "Guide"
            icon: "signpost-split"
            href: guide/index.qmd
          - text: "Report an issue"
            icon: "bug"
            href: "https://github.com/narineneoldu/narineneoldu/issues"
          - text: "Discussion"
            icon: "chat-right-text"
            href: "https://github.com/narineneoldu/narineneoldu/discussions"
          - text: "FAQ"
            icon: "question-circle"
            href: faq/index.qmd
    tools:
      - icon: twitter
        href: https://X.com/narineneoldu
        text: Twitter
      - icon: github
        href: https://github.com/narineneoldu/narineneoldu
        text: GitHub
      - icon: chat-quote
        href: https://github.com/narineneoldu/narineneoldu/discussions
        text: Tartışma


  sidebar:
    - id: testimonies
      title: "Testimonies"
      style: "docked"
      collapse-level: 4
      align: left
      contents:
      - section: Testimonies
        contents:
          - section: Suspects
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
            contents:
              - section: "Nevzat BAHTİYAR"
                icon: person-fill
                href: trial/testimonies/suspect/bahtiyar_nevzat/index.qmd
                contents:
                - text: "Trial"
                  icon: dot
                  href: trial/testimonies/suspect/bahtiyar_nevzat/testimony.qmd
              - section: "Yüksel GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_yuksel/index.qmd
                contents:
                - text: "Trial"
                  icon: dot
                  href: trial/testimonies/suspect/guran_yuksel/testimony.qmd
              - section: "Enes GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_enes/index.qmd
                contents:
                - text: "Trial"
                  icon: dot
                  href: trial/testimonies/suspect/guran_enes/testimony.qmd
              - section: "Salim GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_salim/index.qmd
                contents:
                - text: "Trial"
                  icon: dot
                  href: trial/testimonies/suspect/guran_salim/testimony.qmd
          - section: Witnesses
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
            contents:
              - text: "Gazal BAHTİYAR"
                icon: person
                href: trial/testimonies/witness/bahtiyar_gazal.qmd
              - text: "Baran GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_baran.qmd
              - text: "Maşşallah GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_masallah.qmd
              - text: "Osman GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_osman.qmd
              - text: "Muhammed KAYA"
                icon: person
                href: trial/testimonies/witness/kaya_muhammed.qmd

    - id: defenses
      title: "Defenses"
      style: "docked"
      collapse-level: 3
      align: left
      contents:
        - section: Defenses
          icon: "files"
          href: trial/defenses/index.qmd
          contents:
            - section: "Nevzat BAHTİYAR"
              icon: file-earmark-person
              href: trial/defenses/bahtiyar_nevzat/index.qmd
              contents:
              - text: "Law. Ali ERYILMAZ"
                icon: dot
                href: trial/defenses/bahtiyar_nevzat/eryilmaz_ali.qmd
              - text: "Law. Adnan ATAŞ"
                icon: dot
                href: trial/defenses/bahtiyar_nevzat/atas_adnan.qmd
            - section: "Yüksel GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_yuksel/index.qmd
              contents:
              - text: "Law. Yılmaz DEMİROĞLU"
                icon: dot
                href: trial/defenses/guran_yuksel/demiroglu_yilmaz.qmd
              - text: "Law. Furkan ÇAKIR"
                icon: dot
                href: trial/defenses/guran_yuksel/cakir_furkan.qmd
              - text: "Law. Doğuş Can KURUCU"
                icon: dot
                href: trial/defenses/guran_yuksel/kurucu_doguscan.qmd
            - section: "Enes GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_enes/index.qmd
              contents:
              - text: "Law. Mahir AKBİLEK"
                icon: dot
                href: trial/defenses/guran_enes/akbilek_mahir.qmd
              - text: "Law. M. Fatih DEMİR"
                icon: dot
                href: trial/defenses/guran_enes/demir_fatih.qmd
              - text: "Law. Recep KIZILOK"
                icon: dot
                href: trial/defenses/guran_enes/kizilok_recep.qmd
              - text: "Law. Mustafa DEMİR"
                icon: dot
                href: trial/defenses/guran_enes/demir_mustafa.qmd
            - section: "Salim GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_salim/index.qmd
              contents:
              - text: "Law. Onur AKDAĞ"
                icon: dot
                href: trial/defenses/guran_salim/akdag_onur.qmd

    - id: blog
      title: "Blog"
      style: "docked"
      collapse-level: 2
      align: left
      contents:
      - section: Authors
        contents:
          - text: Ali Duran Topuz
            icon: "file-earmark-person"
            href: blog/posts/ali-duran-topuz/index.qmd
          - text: Sevilay Çelenk
            icon: "file-earmark-person"
            href: blog/posts/sevilay-celenk/index.qmd

format:
  html:
    lang: en
    respect-user-color-scheme: true
    anchor-sections: false
    toc: true
    theme:
      light: [cosmo, resources/scss/theme.scss]
      dark: [cosmo, resources/scss/theme-dark.scss]
    css:
      - resources/css/styles.css
      - resources/css/hashtag.css
      - resources/plyr/plyr.css
      - resources/css/audio-player.css
      - resources/css/span.css
      - resources/css/boxes.css
    include-after-body:
      - text: |
          <script src="/resources/plyr/plyr.js"></script>
          <script src="/resources/js/audio-player.js"></script>
          <script src="/resources/js/hide-footer-actions.js"></script>
          <script src="/resources/js/external-links.js"></script>
          <script src="/resources/js/lang-switch-inject.js"></script>
          <script src="/resources/js/lang-switch-handler.js"></script>
          <script src="/resources/js/plate-tooltip.js"></script>
          <script src="/resources/js/boxes.js"></script>
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px

filters:
  - ../shared/lua/render_start_timer.lua
  - ../shared/lua/span_time.lua
  - ../shared/lua/span_phone.lua
  - ../shared/lua/hashtag_to_x.lua
  - ../shared/lua/lastmod.lua
  - ../shared/lua/span_plate.lua
  - ../shared/lua/span_amount_en.lua
  - ../shared/lua/span_para.lua
  - ../shared/lua/span_record_number_en.lua
  - ../shared/lua/abbr.lua
  - ../shared/lua/span_date_en.lua
  - ../shared/lua/force_link_order.lua
  - ../shared/lua/short_media.lua
  - ../shared/lua/span_duration_en.lua
  - ../shared/lua/render_end_timer.lua
  # - ../shared/lua/init_en.lua


resources:
  - resources/icons/GB.svg
  - resources/icons/TR.svg
  - resources/audio/salim-1-16K-tr.vtt
