.quarto-dark {
  --bs-body-color: #eaeaea;  /* #f5f5f5 #eaeaea #e0e0e0 */
}

@media (min-width: 1020px) {
  .navbar-brand-container {
    margin-right: 1em;
  }
}

@media (max-width: 1060px) and (min-width: 991.98px) {

#navbarCollapse ul:last-of-type a.nav-link {
  padding-left: .25em;
  padding-right: .25em;
}

.navbar #quarto-search {
  margin-left: .1em;
}

.navbar .bi-twitter,
.navbar .bi-github,
.navbar .bi-rss
 {
  font-size: .8em;
}
}


@media (min-width: 991.98px) {
body.quarto-light #quarto-header {
  border-bottom: 1px solid #dee2e6;
}
body.quarto-dark #quarto-header {
  border-bottom: 1px solid #3b3f47;
}
}

.navbar-brand > img {
  max-height: 36px;
}


.platform-table td {
  vertical-align: middle;
}

.platform-table td > div.sourceCode {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}


.document-example {
  opacity: 0.9;
  padding: 6px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.document-example div {
  padding: 5px;
}


.document-example .citation {
  color: blue;
}

.trademark {
  font-size: 0.6rem;
  display: inline-block;
  margin-left: -3px;
}

.search-attribution {
  margin-top: 20px;
  padding-bottom: 20px;
  height: 40px;
}

.download-button {
  margin-top: 1em;
}

.download-table {
  margin-bottom: 2em;
}

.download-table p {
  margin-bottom: 0;
}

.download-table .checksum {
  color: var(--bs-primary);
  font-size: .775em;
  cursor: pointer;
  padding-top: 4px;
}

.download-button {
  display:flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.download-button .secondary {
  font-size: .775em;
  margin-bottom: 0;
}

.download-button .container {
  display: flex;
  padding-left: 10px;
  padding-right: 40px;
}

.download-button .icon-container {
  fill: white;
  width: 30px;
  margin-right: 15px;
}

iframe.reveal-demo {
  width: 100%;
  height: 350px;
  outline: none;
}


.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}

@media only screen and (max-width: 600px) {
 .slide-deck {
    height: 400px;
  }
}


@media (max-width: 575px) {

.link-cards .card {
  margin-bottom: 20px;
  margin-right: 35px;
}

}

@media (min-width: 576px) {
.link-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-cards .card {
  width: 190px;
  margin: 0 20px 12px 0;
}


}


.link-cards .card {
  border: none;
  padding: 0;
}

.link-cards .card-title h4 {
  margin-top: 0;
}

.link-cards .card-title p {
  margin-bottom: 0;
}

.link-cards .card-subtitle {
  margin-bottom: 0.7rem;
}

.link-cards .card-body {
  padding: 0.5rem;
  padding-left: 0.1rem;
}

.link-cards .card-body ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.link-cards .card-body ul a {
  text-decoration: none;
}

.link-cards .card-body ul li {
  padding-bottom: 0.2rem;
}


.card .source-code {
  margin-top: 3px;
}

.carousel.card {
  font-size: 16px;
  padding-top: 2em;
}

.carousel.card a {
  text-decoration: none;
}

.carousel img {
  width: 70%;
  margin-bottom: 110px;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  margin-bottom: 110px;
}


.gallery-category {
  column-gap: 10px;
}

.btn-action-primary {
  color: white;
  background-color: #447099;
}

.btn-action-primary:hover {
  background-color: #305775;
  color: white;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}

.panel-tabset[data-group="tools-tabset"] .choose-your-tool {
  max-width: 90px;
  margin-right: 25px;
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: left;
  vertical-align: center;
}

.panel-tabset[data-group="tools-tabset"] .tab-content {
  border: none;
  padding-left: 5px;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs {
  border-bottom: none;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  color: inherit;
  width: 102px;
  font-size: 0.8em;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link,
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link.active,
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-item.show .nav-link {
  border: 1px solid  rgb(222, 226, 230);
  border-radius: 10px;
}
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link:hover {
   border-color: rgb(80,146,221);
   border-width: 1px;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link.active,
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-item.show .nav-link {
  border-color: rgb(80,146,221);
  border-width: 2px;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link img {
  width: 65px;
  height: 65px;
  display: block;
  margin-bottom: 2px;
}

/*
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  color: inherit;
  width: 102px;
  font-size: 0.8em;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  display: block;
  margin-bottom: 2px;
}
*/


.download-text {
  font-size: 1.1em;
  font-weight: 500;
}

.preview-image-grid {
  gap: .75em;
}

.preview-image-grid p {
  margin-bottom: 0;
}

.preview-image-label {
  text-align: center;
  font-size: .75em;
  font-weight: 600;
}

.illustration {
  border: 1px solid #dee2e6;
}

span.color-box-container {
  display: inline-flex;
  align-items: center; /* Align vertically */
}

span.color-box {
  display: inline-block;
  width: 1em; /* Width of the color box */
  height: 1em; /* Height of the color box */
  margin-right: 0.2em; /* Space between box and text */
  border: 1px solid #000; /* Border color */
}

/* Paragrafları iki yana yasla */
p {
  text-align: justify;
  margin: 0 0em 1em 0;
  padding-left: 0em;   /* genel sol boşluk */
  text-indent: 1em;   /* ilk satırı geri çek → isim sola yapışır */
}

/* Eski opaklık kurallarını etkisiz bırak (linke değil ikona uygula) */
.anchored-line:hover .line-anchor,
.line-anchor:focus-visible {
  /* boş bırak ya da tamamen sil */
}

/* Link gövdesi: opaklık yok */
.line-anchor {
  all: unset;
  cursor: pointer;
}

/* İkon: görünürlük BURADA kontrol edilir */
.line-anchor::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: .15em;
  vertical-align: -0.15em;

  background-color: Steelblue;      /* sabit renk */
  -webkit-mask-image: url("../icons/link.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url("../icons/link.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  opacity: 1.0;                      /* ← başlangıçta daha belirgin */
  transition: opacity .1s ease-in-out;
}

/* Hover/odak: tamamen opak */
.line-anchor:hover::before,
.line-anchor:focus-visible::before {
  opacity: 0.65;
}
/* Sadece hover’da göster (istersen): */
/*
.line-anchor{ opacity:0; }
.anchored-line:hover .line-anchor,
.line-anchor:focus-visible{ opacity:1; }
*/

/* Light/Dark ton ince ayarları (opsiyonel) */
@media (prefers-color-scheme: dark){
  .line-anchor{ opacity:.75; }
}

/* html.quarto-light, html.quarto-dark { transition: none !important; } */

html:not(.quarto-dark) { /* açık tema değişkenleri */ }
html.quarto-dark       { /* koyu tema değişkenleri  */ }

.nav-separator {
  display: inline-block;
  width: 1px;
  height: 1.25em;
  opacity: 0.25;
  background: currentColor;
  margin: 0 0rem 0 -0.2rem; /* 0.5 yerine 0.25rem yaptık */
  vertical-align: middle;
}

.lang-btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 -0.1rem; /* düğmeler biraz daha yaklaşsın */
  cursor: pointer;
  line-height: 0;
}
.navbar-nav .nav-item {
  margin: 0 !important;
}
.navbar .d-none { display: none !important; }

.navbar-expand-lg .navbar-nav .nav-link {
padding-left: 0.4rem;
padding-right: 0.4rem;
}

.navbar .lang-switch {
  border: 0.1px solid #ccc;       /* gri çerçeve */
  border-radius: 1px;           /* köşeleri yumuşat */
  position: relative;
  top: -1px; /* yukarı kaydırır */
}

/* Hover küçük efekt (opsiyonel) */
.navbar .lang-switch:hover { opacity: .6; }

.footer-icon .svg-mask {
  display:inline-block;
  width:1.5em;
  height:1.5em;
  vertical-align:top;
  background-color: currentColor; /* renk buradan */
  mask: url("../icons/penta.svg") center/contain no-repeat;
  -webkit-mask: url("../icons/penta.svg") center/contain no-repeat;
}

/* Tema renkleri */
body.quarto-light .footer-icon.twitter { color: #1DA1F2; }   /* Twitter mavisi */
body.quarto-dark  .footer-icon.twitter { color: #1DA1F2; }   /* aynı renk darkta da */

/* Tablo ara yatay çizgiler */
body.quarto-dark .table>:not(caption)>*:not(:last-child)>* {
  border-bottom-color: #303030;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.audio-block {
  text-align: center;
  margin: 1em 0;
}
.audio-block p {
margin-top: 0.5rem;
font-size: 0.9em;
color: #666;
text-align: center;
}

/* Navbar ve footer kenar boşlukları sıfırla */
.navbar-container { padding-inline: 0; }
footer.footer .nav-footer, #quarto-header>nav {
    padding-left: 0;
    padding-right: 0;
}

/* Arama kutusu genişletme düzeltmesi */
.aa-DetachedSearchButton { padding-right: 0; }
.navbar #quarto-search.type-overlay .aa-Autocomplete { width: 100%; }

/* Footer: sol bölmedeki "Updated on / Güncelleme Tarihi" bloğu */
.nav-footer .nav-footer-left .footer-updated{
  display: inline-flex;          /* iki satırı birlikte ortala */
  flex-direction: column;        /* üstte metin, altta tarih */
  align-items: center;           /* birbirine göre ortalı */
  line-height: 1.25;
  margin-left: 5px;              /* soldan 5px boşluk */
  opacity: .5;
}

.nav-footer .nav-footer-left .footer-updated:hover { opacity: 1; }

/* Tarih satırı (link) */
.nav-footer .nav-footer-left .footer-updated a{
  text-decoration: none;
}
.nav-footer .nav-footer-left .footer-updated a:hover {
  color: #447099;
  text-decoration: underline;
}

/* Footer: sol bölmedeki "Render time / Render süresi" bloğu */
.nav-footer .nav-footer-left .footer-render {
  display: inline-flex;          /* iki satırı birlikte ortala */
  flex-direction: column;        /* üstte metin, altta render-time */
  align-items: center;           /* birbirine göre ortalı */
  line-height: 1.25;
  margin-left: 5px;              /* soldan 5px boşluk */
  opacity: .5;
  cursor: default;         /* prevents text-selection cursor */
  user-select: none;       /* disables text highlighting */
}

.nav-footer .nav-footer-left .footer-render:hover {
  opacity: 1;
  transition: color 1.0s ease;
  transition: opacity 0.3s ease;
}
.nav-footer .nav-footer-left .footer-render:hover .footer-render-label {
  color: #447099;
}
.nav-footer .nav-footer-left .footer-render:hover .footer-render-value {
  color: firebrick;
}


#quarto-content #title-block-header .quarto-title-meta {
  display: none !important;
}

/* Ortak stiller */
p strong {
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.quarto-light p strong { color: #000; }
.quarto-dark p strong { color: #fff; }

main li { margin-bottom: 0.5em !important; }
main li p {
  text-indent: 0em;
  margin-bottom: 0.5em;
}
main li > p:first-of-type { text-indent: 0; }
main li > p:not(:first-of-type) { text-indent: 0.5em; }

@media (max-width: 600px) { .blockquote ul li p { text-align: left; } }

.underline {
  text-decoration: underline wavy #8a2be2;
  text-underline-offset: 4px;
}

.quarto-light { --tooltip-bg:#111;   --tooltip-fg:#fff; }
.quarto-dark  { --tooltip-bg:#e6e6e6; --tooltip-fg:#111; }

/* body’ye eklenen TEK tooltip */
:root {
  /* varsayılan (genel) tooltip teması */
  --tooltip-bg: rgba(20, 20, 20, 0.92);
  --tooltip-color: #fff;
  --tooltip-shadow1: 0 0 3px rgba(0, 0, 0, 0.7);
  --tooltip-shadow2: 0 0 8px rgba(50, 50, 50, 0.5);
  --tooltip-shadow3: 0 0 16px rgba(200, 200, 200, 0.45);
}

.quarto-dark {
  --tooltip-bg: rgba(240, 240, 240, 0.95);
  --tooltip-color: #111;
  --tooltip-shadow1: 0 0 3px rgba(212, 185, 139, 0.7);
  --tooltip-shadow2: 0 0 8px rgba(212, 185, 139, 0.5);
  --tooltip-shadow3: 0 0 16px rgba(255, 235, 200, 0.45);
}

/* tooltip stilinin kendisi */
#plate-tip {
  font-size: 0.8em;
  position: fixed;
  z-index: 2147483647;
  max-width: 340px;
  padding: .2rem .5rem;
  border-radius: .45rem;
  background: var(--tooltip-bg);
  color: var(--tooltip-color);
  box-shadow:
    var(--tooltip-shadow1),
    var(--tooltip-shadow2),
    var(--tooltip-shadow3);
  line-height: 1.35;
  display: none;              /* JS yönetir */
  word-wrap: break-word;
  overflow-wrap: break-word;
  pointer-events: none;       /* balona tıklama gerekmez */
}

.blockquote {
  padding-left: 1rem;
  padding-right: 0;
}
@media (max-width: 600px) { .blockquote { padding-left: 0.5rem; } }
.blockquote ol, ul { padding-left: 1rem; }

/* No indentation in the listing cards */
.card p { text-indent: 0; }

/* Genel stil (light ağırlıklı) */
#quarto-sidebar-glass {
  position: fixed !important;
  inset: 0 !important;
  z-index: 1029 !important;

  /* Ultra-thin cam hissi: çok saydam, hafif beyaz */
  background: rgba(255, 255, 255, 0.12) !important;

  /* Asıl Apple efekti */
  backdrop-filter: blur(2px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(2px) saturate(180%) !important;

  /* Hafif iç çizgi – Apple tasarımlarındaki ince border gibi */
  border: 1px solid rgba(255, 255, 255, 0.35);

  /* Çok hafif glow */
  box-shadow:
    0 0 0.5px rgba(255, 255, 255, 0.8),
    0 18px 40px rgba(0, 0, 0, 0.35);

  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.22s ease-out !important;
}

/* Açıkken */
#quarto-sidebar-glass.show {
  opacity: 1 !important;
  pointer-events: auto !important;
}

/* Dark tema için Apple’ın koyu cam tonu */
body.quarto-dark #quarto-sidebar-glass {
  background: rgba(15, 15, 20, 0.58) !important;
  border-color: rgba(255, 255, 255, 0.22);
  box-shadow:
    0 0 0.5px rgba(255, 255, 255, 0.35),
    0 20px 45px rgba(0, 0, 0, 0.7);
}
#quarto-sidebar { opacity: 0.95; }
