project:
  type: website
  output-dir: _site
  pre-render:
    - ../shared/bash/clean.sh
    - ../shared/python/render_timer.py start
  post-render:
    - ../shared/bash/sync-tr.sh
    - ../shared/python/render_timer.py end
  preview:
    port: 7777
  # render:
  #   - "**/*.qmd"     # tr altındaki tüm qmd dosyaları
  #   - "!trial/**"    # ama trial/ altındakileri hariç tut
  #   - "!blog/**"     # ama blog/ altındakileri hariç tut

profiles:
  - dev
  - prod

lang: tr
metadata:
  site-lang: tr

  phones:
    "0533XXX9779": "Nevzat Bahtiyar'ın kullandığı telefon numarası"
    "0536XXX7120": "Yüksel Güran'ın kullandığı telefon numarası"
    "0539XXX7358": "Enes Güran'ın kullandığı telefon numarası"
    "0530XXX0653": "Salim Güran'ın kullandığı telefon numarası"
    "0531XXX1521": "Selim Atasoy'un kullandığı telefon numarası"

  plates:
    "23 XX 630": "Nevzat Bahtiyar'ın kullandığı kırmızı araç"
    "47 XX 388": "Salim Güran'ın kullandığı araç"
    "56 XX 763": "Osman Güran'ın kullandığı araç"

  abbr:
    AAÜT: "Avukatlık Asgari Ücret Tarifesi"
    ACM: "Ağır Ceza Mahkemesi"
    AGO: "Adli Görüşme Odası"
    ATK: "Adli Tıp Kurumu"
    BTK: "Bilgi Teknolojileri ve İletişim Kurumu"
    CMK: "Ceza Muhakemesi Kanunu"
    DEPSAŞ:  "Dicle Elektrik Perakende Satış A.Ş."
    "fer’i": "yan, tali"
    "zımni": "açıkça söylenmemiş ama dolaylı olarak var sayılan, ima edilen"
    HTS: "Historical Traffic Search - Geçmiş Trafik Verisi Sorgusu"
    JASAT: "Jandarma Suç Araştırma Timi"
    mtDNA: "Mitokondriyal DNA"
    TCK: "Türk Ceza Kanunu"
    TÜBİTAK: "Türkiye Bilimsel ve Teknolojik Araştırma Kurumu"
    SEGBİS: "Ses ve Görüntü Bilişim Sistemi"
    UKB: "Ulusal Kriminal Büro"


  speakers:
    victim:
      - "maktul Narin Güran"
      - "Maktul Narin Güran"
      - "maktul Narin"
      - "Narin Güran"
      - "Narin"
    suspect:
      - "Sanık Nevzat Bahtiyar"
      - "sanık Nevzat Bahtiyar"
      - "Sanık Yüksel Güran"
      - "sanık Yüksel Güran"
      - "Sanık Salim Güran"
      - "sanık Salim Güran"
      - "Sanık Enes Güran"
      - "sanık Enes Güran"
      - "Nevzat Bahtiyar"
      - "Yüksel Güran"
      - "Salim Güran"
      - "Enes Güran"
      - "Sanık Nevzat"
      - "sanık Nevzat"
      - "Sanık Yüksel"
      - "sanık Yüksel"
      - "Sanık Salim"
      - "sanık Salim"
      - "Sanık Enes"
      - "sanık Enes"
      - "Nevzat"
      - "Yüksel"
      - "Salim"
      - "Enes"
    witness:
      - "Maşşallah Güran"
      - "Maşallah Güran"
      - "Gazal Bahtiyar"
      - "Muhammed Kaya"
      - "Baran Güran"
      - "Osman Güran"
    judge:
      - "Mahkeme Başkanı"
      - "Mahkeme Üye Hakimi"
    prosecutor:
      - "Duruşma Savcısı"
    kdb:
      - "Av. Nahit Eren"
      - "Av. Aydın Özdemir"
      - "Av. Erdem Kaya"
      - "Av. Mehdi Özdemir"
      - "Av. Asya Cemre Işık"
      - "Av. Berat Kocakaya"
      - "Av. Derya Yıldırım"
      - "Av. Metin Arkaş"
    ashb:
      - "Av. Şeyhmus Erdoğan"
      - "Av. Abdullah Yılmaz"
      - "Av. Elif Aslı Şahin Torun"
      - "Av. Emine Akçalı"
    mudafi-enes:
      - "Av. Mahir Akbilek"
      - "Av. Mustafa Demir"
      - "Av. Muhammed Fatih Demir"
      - "Av. Recep Kızılok"
    mudafi-yuksel:
      - "Av. Yılmaz Demiroğlu"
      - "Av. Tuncay Erkuş"
      - "Av. Furkan Çakır"
      - "Av. Doğuş Can Kurucu"
      - "Sanık Yüksel Müdafi"
    mudafi-salim:
      - "Av. Onur Akdağ"
    mudafi-nevzat:
      - "Av. Ali Eryılmaz"
      - "Av. Adnan Ataş"
    others:
      - "Tercüman"
      - "Avukat Hanım"
      - "Katılan Arif Güran"
      - "Arif Güran"

highlight-style: a11y

website:
  title: "Narin"
  site-url: https://narineneoldu.github.io/
  repo-url: https://github.com/narineneoldu/narineneoldu.github.io
  image: resources/images/narin_tr.png
  favicon: resources/icons/favicon.png
  open-graph: true
  twitter-card: true
  repo-actions: [edit, issue]
  page-navigation: true
  back-to-top-navigation: true
  page-footer:
    left:
      - text: "{{< meta last-updated-footer >}}"
      - text: "{{< meta render-time-footer >}}"
    center:
      - text: "<a class='nav-link footer-icon' href='/about' aria-label='About'><span class='svg-mask'></span>Hakkında</a>"
      - text:  "<a class='nav-link bi bi-patch-question' href='/faq' aria-label='SSS'><span class='svg-mask'></span> SSS</a>"
    right:
      - icon: twitter
        href: https://X.com/narineneoldu
        aria-label: Twitter
      - icon: github
        href: https://github.com/narineneoldu/narineneoldu.github.io
        aria-label: GitHub
      - icon: rss
        href: https://quarto.org/blog/index.xml
        aria-label: Blog RSS
  navbar:
    background: light
    logo: resources/icons/narin.png
    logo-href: /
    title: false
    collapse-below: lg
    left:
      - text: "Mahkeme"
        menu:
          - text: "Özet"
            icon: "file-medical"
            href: trial/index.qmd
          - text: "İfadeler"
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
          - text: "Savunma"
            icon: "files"
            href: trial/defenses/index.qmd
          - text: "Gerekçeli Karar"
            icon: "list-check"
            href: trial/judgment.qmd
      - text: "Yazılar"
        href: blog/index.qmd
      - text: "Yardım"
        menu:
          - text: "Kılavuz"
            icon: "signpost-split"
            href: guide/index.qmd
          - text: "Eksik Bildir"
            icon: "bug"
            href: "https://github.com/narineneoldu/narineneoldu.github.io/issues"
          - text: "Soru sor"
            icon: "chat-right-text"
            href: "https://github.com/narineneoldu/narineneoldu.github.io/discussions"
          - text: "SSS"
            icon: "question-circle"
            href: faq/index.qmd
    tools:
      - icon: twitter
        href: https://X.com/narineneoldu
        text: Twitter
      - icon: github
        href: https://github.com/narineneoldu/narineneoldu.github.io
        text: GitHub
      - icon: chat-quote
        href: https://github.com/narineneoldu/narineneoldu.github.io/discussions
        text: Tartışma


  sidebar:
    - id: testimonies
      title: "İfadeler"
      style: "docked"
      collapse-level: 4
      align: left
      contents:
      - section: İfadeler
        contents:
          - section: Sanıklar
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
            contents:
              - section: "Nevzat BAHTİYAR"
                icon: person-fill
                href: trial/testimonies/suspect/bahtiyar_nevzat/index.qmd
                contents:
                - text: "Mahkeme"
                  icon: dot
                  href: trial/testimonies/suspect/bahtiyar_nevzat/testimony.qmd
              - section: "Yüksel GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_yuksel/index.qmd
                contents:
                - text: "Mahkeme"
                  icon: dot
                  href: trial/testimonies/suspect/guran_yuksel/testimony.qmd
              - section: "Enes GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_enes/index.qmd
                contents:
                - text: "Mahkeme"
                  icon: dot
                  href: trial/testimonies/suspect/guran_enes/testimony.qmd
              - section: "Salim GÜRAN"
                icon: person-fill
                href: trial/testimonies/suspect/guran_salim/index.qmd
                contents:
                - text: "Mahkeme"
                  icon: dot
                  href: trial/testimonies/suspect/guran_salim/testimony.qmd
          - section: Tanıklar
            icon: "chat-left-text"
            href: trial/testimonies/index.qmd
            contents:
              - text: "Gazal BAHTİYAR"
                icon: person
                href: trial/testimonies/witness/bahtiyar_gazal.qmd
              - text: "Baran GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_baran.qmd
              - text: "Maşşallah GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_masallah.qmd
              - text: "Osman GÜRAN"
                icon: person
                href: trial/testimonies/witness/guran_osman.qmd
              - text: "Muhammed KAYA"
                icon: person
                href: trial/testimonies/witness/kaya_muhammed.qmd

    - id: defenses
      title: "Savunmalar"
      style: "docked"
      collapse-level: 3
      align: left
      contents:
        - section: Savunmalar
          icon: "files"
          href: trial/defenses/index.qmd
          contents:
            - section: "Nevzat BAHTİYAR"
              icon: file-earmark-person
              href: trial/defenses/bahtiyar_nevzat/index.qmd
              contents:
              - text: "Av. Ali ERYILMAZ"
                icon: dot
                href: trial/defenses/bahtiyar_nevzat/eryilmaz_ali.qmd
              - text: "Av. Adnan ATAŞ"
                icon: dot
                href: trial/defenses/bahtiyar_nevzat/atas_adnan.qmd
            - section: "Yüksel GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_yuksel/index.qmd
              contents:
              - text: "Av. Yılmaz DEMİROĞLU"
                icon: dot
                href: trial/defenses/guran_yuksel/demiroglu_yilmaz.qmd
              - text: "Av. Furkan ÇAKIR"
                icon: dot
                href: trial/defenses/guran_yuksel/cakir_furkan.qmd
              - text: "Av. Doğuş Can KURUCU"
                icon: dot
                href: trial/defenses/guran_yuksel/kurucu_doguscan.qmd
            - section: "Enes GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_enes/index.qmd
              contents:
              - text: "Av. Mahir AKBİLEK"
                icon: dot
                href: trial/defenses/guran_enes/akbilek_mahir.qmd
              - text: "Av. M. Fatih DEMİR"
                icon: dot
                href: trial/defenses/guran_enes/demir_fatih.qmd
              - text: "Av. Recep KIZILOK"
                icon: dot
                href: trial/defenses/guran_enes/kizilok_recep.qmd
              - text: "Av. Mustafa DEMİR"
                icon: dot
                href: trial/defenses/guran_enes/demir_mustafa.qmd
            - section: "Salim GÜRAN"
              icon: file-earmark-person
              href: trial/defenses/guran_salim/index.qmd
              contents:
              - text: "Av. Onur AKDAĞ"
                icon: dot
                href: trial/defenses/guran_salim/akdag_onur.qmd

    - id: blog
      title: "Blog"
      style: "docked"
      collapse-level: 2
      align: left
      contents:
      - section: Yazarlar
        contents:
          - text: Ali Duran Topuz
            icon: "file-earmark-person"
            href: blog/posts/ali-duran-topuz/index.qmd
          - text: E. Miham Akkul
            icon: "file-earmark-person"
            href: blog/posts/miham-akkul/index.qmd
          - text: Sevilay Çelenk
            icon: "file-earmark-person"
            href: blog/posts/sevilay-celenk/index.qmd
          - text: Yıldıray Oğur
            icon: "file-earmark-person"
            href: blog/posts/yildiray-ogur/index.qmd

format:
  html:
    respect-user-color-scheme: true
    anchor-sections: false
    toc: true
    theme:
      light: [cosmo, resources/scss/theme.scss]
      dark: [cosmo, resources/scss/theme-dark.scss]
    css:
      - resources/css/styles.css
      - resources/css/hashtag.css
      - resources/plyr/plyr.css
      - resources/css/audio-player.css
      - resources/css/span.css
      - resources/css/boxes.css
      - resources/css/mobile-toc.css
      - resources/css/highlight-speakers.css

    include-after-body:
      - text: |
          <script src="/resources/plyr/plyr.js"></script>
          <script src="/resources/js/audio-player.js"></script>
          <script src="/resources/js/hide-footer-actions.js"></script>
          <script src="/resources/js/external-links.js"></script>
          <script src="/resources/js/lang-switch-inject.js"></script>
          <script src="/resources/js/lang-switch-handler.js"></script>
          <script src="/resources/js/plate-tooltip.js"></script>
          <script src="/resources/js/toc-smooth-scroll.js"></script>
          <script src="/resources/js/mobile-toc-strip.js"></script>
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px


filters:
  - ../shared/lua/render_start_timer.lua
  - ../shared/lua/abbr.lua
  - ../shared/lua/lastmod.lua
  - ../shared/lua/span_multi.lua
  - ../shared/lua/hashtag_to_x.lua
  - ../shared/lua/short_media.lua
  - ../shared/lua/force_link_order.lua
  - ../shared/lua/render_end_timer.lua


resources:
  - resources/icons/GB.svg
  - resources/icons/TR.svg
  - resources/audio/salim-1-16K-tr.vtt
